<div class="page">

    <!-- Tab -->
    <section class="panel panel-default">

        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> <span class="fma-lesson-title">1.1 Back to the Future</span></div>
        <div class="panel-body" data-ng-controller="TabsDemoCtrl">
            <div ng-init="login = 'teacher'">
            <div class="row">
                <div class="col-sm-12">
                        <h3>Lesson Description</h3>
                        Today, the students will be getting accustomed to the class.
                        Each student will get to write about their goals and practice working in teams.
                        <h3>Introduction</h3>
                        If you have seen the film classic Back to the Future, you may remember that October 21, 2015 was the future
                        destination date.  In 2015, the film showed skateboards that hovered over the ground.
                        A Delorean was used as a time machine.  Neither of these were achieved in the future.
                        <p/>
                        In order to go back to the future, a person must have gone to the future and returned to the present
                        and is now prepared to go back to the future.  Teens make this trip daily.
                        They think about their future – the car they want, being married to their current love interest,
                        playing on a pro-athletic team – and are pulled back to current reality. These trips to the future are dreams.
                        <p/>
                        When students don’t know what they can possibly achieve, rarely will they achieve it.
                        All students have barriers to achieving success.
                        The greatest barrier is from defining their future based on a limited knowledge of today.
                        This course provides all students with an opportunity to step into a successful future,
                        return to the present and then chart a path from now to achieve that future.
                        You are their guide. You are setting the stage for the next 9 months.
                        <p/>
                        You need to assure the students this course is like no other one they have had.
                        You expect them to step up their performance, approach this course as an adult and critically think about their future.

                        <h3>Do First</h3>
                        Students take the first RLFM trip into the future.
                        As students enter the class, you play a video scribe Do First 1-1.
                        The video is slightly more than 1 minute.  At the end it freezes on the assignment.
                        <p/>
                        Once your students are in the classroom, and focused on answering the questions,
                        tell them they have until the end of the music to complete this assignment.
                        <div class="callout callout-info"> Begin the class music (3:48): https://youtu.be/APMRiliOfOo</div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Note:</h3>
                            </div>
                            <div class="panel-body">
                            Please take attendance while the students are engaged in the Do First & Vocabulary activity.
                            Text in blue italics is from the student workbook. Text is red italics are students answers.
                            </div>
                        </div>
                </div>

            </div>

        </div>
    </section>
    <!-- end Tab -->

    <!-- Begin Vocabulary-->
    <section class="panel panel-default">

        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> <h3>Vocabulary</h3></div>
        <div class="panel-body"  data-ng-controller="RatingDemoCtrl">
            Show students Vocabulary 1-1 video.  Tell them to take notes in their workbook.

            <div class="row">
                <div class="col-md-6">
                    <section class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Outlier"></span></strong></div>
                        <div class="panel-body">
                            Outlier is a data point in a set of data that lies outside of a pattern.
                            That data point may be an error or it is may be considered important and worth studying.
                            People who achieve financial success when their original socio-economic status would be a barrier for success can be called outliers.
                            <div ng-init="x1 = 4">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x1"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Social Class"></span></strong></div>
                        <div class="panel-body">
                            Social Class divides the population based on annual household income.
                            Although many believe the US is a classless society where everyone is created equal.
                            Sociologist point out that while equal, our incomes are far from equal.
                            Some sociologists use a three level class system – upper, middle, lower. Others divide these levels into 6 classes.
                            <div ng-init="x2 = 2">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x2"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <section class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Socio-Economic Mobility"></span></strong></div>
                        <div class="panel-body">
                            Socio-Economic Mobility is t￼￼￼￼he permanent ￼movement of Americans from one social class or economic level to another.
                            This upward mobility reflects is often thought of as achieving the American Dream.
                            Socio-economic mobility is not automatic and many sociologists believe upward mobility will be more difficult to attain in the future than in the past.
                            To have upward mobility there is a need for excellent job, higher education, and people able to work hard with exceptional skills to solve problems.2 & 3
                            <div ng-init="x3 = 3">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x3"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="SWBAT"></span></strong></div>
                        <div class="panel-body">
                            SWBAT means students will be able to.
                            The SWBATs in Real Life Financial Mathematics are linked to the course learning objects, which require you to understand not only what but also HOW and WHY.
                            Expect to be asked these questions in essays and presentations.
                            <div ng-init="x4 = 6">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x4"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <section class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Wikipedia"></span></strong></div>
                        <div class="panel-body">
                            Real Life Financial Mathematics is a course that integrates personal finances, career discovery and post- secondary education planning with reality-based math.
                            is a free, online encyclopedia that anyone can edit. We use Wikipedia as a resource in Real Life
                            Financial Mathematics because it offers students a depth of information. You are to read the information so you can gain understanding.
                            Remember Wikipedia is written by the public so take time to check foot note references for the sources of the information.4
                            <div ng-init="x5 = 5">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x5"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                </div>
            </div>

        </div>
    </section>
    <!-- End Vocabulary-->

    Essentials - SWBAT
    Tell students they will be working with the vocabulary in today’s lessons. The SWBAT introduces students to REALITY and the responsibilities they could have as employees. It focuses on appropriate communications and ethical and legal choices.  By having them work in teams, the goal is to have students critically think about their personal goals, realize that increasing their social class is not easy, identify what actions they will need to take to be an outlier and retain or elevate their social class.  This lesson does not TELL them what they need to do, but instead puts them in a position to discover the actions they must take.

    Real Life Financial Mathematics is a course that integrates personal finances, career discovery and post-secondary education planning with reality-based math.

    In this lesson you begin to work on employability skills and are expected to 1) demonstrate an understanding of appropriate communication with customers, employers, and coworkers through verbal, nonverbal, or digital means and 2) demonstrate an understanding of ethical and legal issues in business.

    To help you with this objective, as you enter the class think of this course as a job and all of your fellow students as associates. You must speak and act as though you are at work. You must be courteous, talk one at a time, listen to another person’s opinion and try to solve problems.  Your teacher is your boss and visitors to the class will often be consultants. When you meet consultants, you of course introduce yourself, have eye contact and shake hands.

    Are you mature enough to do this? Try it.  You will find that it is exciting to step outside your teen constraints and function as an adult., at least for one hour a day!

    Explore the Lesson – Socio-Economic Mobility
    Many people believe that
    1) America is the land of opportunity and that
    2) by working hard, with intelligence and skill, one can achieve the American Dream.

    Others believe the first statement, but disagree with the second.  They have a deep understanding that to achieve goals it takes more than hard work, intelligence and skills.

    In your vocabulary reading, you were introduced to both social class and social mobility.  Moving down a social class is easy.  Lose a job, become disabled without insurance, get a divorce, make a major mistake in investing, have a spouse die without adequate life insurance or have a health event without medical coverage and you can rapidly slide down the ladder of success.

    How difficult is is to climb up the ladder?  The 2012 Pew Economic Mobility Project study revealed that:
    ●	43 percent of children born into the bottom quintile remain in that bottom quintile as adults.
    ●	40 percent of children raised in the top quintile remain there as adults.
    ●	About 62 percent of Americans raised in the top 20 percent of incomes stay in the top 40 percent.

    Social mobility is definitely in a downward trend.  These stats are collected from a nationwide U.S. population.  In some neighborhoods, Baltimore, Detroit, Los Angeles less than 8 percent climb the ladder of success.

    Brookings Institution Fellow Richard Reeves explores inequality and opportunity in America with Legos, using them to explain the chances for economic success of Americans born at the bottom of the economic ladder. Reeves shows the chances that the poorest fifth of Americans have to rise to the top, based on their race, the marital status of their mothers, and their level of education.
    YouTube https://www.youtube.com/watch?v=t2XFh_tD2RA

    Have students take notes whenever they view a video. When the video has ended, have students read out loud the following text.  Remind students that these are opinions from Brookings Institution, Pew Charitable Trust and researchers – point out footnotes.  Encourage students comments.

    There are several causes or issues that impact mobility:
    •	Quality of education - “At virtually every level, education in America tends to perpetuate rather than compensate for existing inequalities. The reasons are threefold. First, the K through 12 education system is simply not very strong and thus is not an effective way to break the link between parental background and a child’s eventual success. … Second, because K–12 education is financed largely at the state and local level, resources devoted to education are closely linked with where people live and with the property wealth of their neighbors. For this and other reasons, poor children tend to go to poor schools and more advantaged children to good schools. … Finally, access both to a quality preschool experience and to higher education continues to depend quite directly on family resources.”
    •	Born into poverty - A study from the Economic Mobility Project found that growing up in a high-poverty neighborhood increases Americans’ risk of experiencing downward mobility and explains a sizable portion of the black-white downward mobility gap. The report’s analysis also showed that black children who experience a reduction in their neighborhood’s poverty rate have greater economic success in adulthood than black children who experience poverty rates that increase or are stable.
    •	Gender and Race - Despite the increased presence of blacks and women in the work force over the years, women and non-whites hold jobs with less rank, authority, opportunity for advancement and pay than men and whites.
    Few people look at their future.  Even fewer want to look at their future and think about why they will fail to increase their social mobility.  What we would like you to focus on is how to achieve success.  In other words, how to be an OUTLIER.

    Expand – Team Collaboration
    In this lesson you will work on employability skills. Pretend you are an associate of the Brookings Institution.  The Brookings Institution is a Washington, D.C. think tank of 300 leading experts in government and academia from all over the world. Your team has been asked by your employer and management (your instructor) to address two issues:
    1. Social mobility with an effort to preserve the American dream.  Using appropriate verbal and nonverbal communication with your employer and coworkers, you are to identify 5 actions high school students could take to increase their chance at being an outlier and achieve and retain economic success.  Please note, winning the lottery isn’t one of the five.

    1. to 5.

    Possible student answers – Increase grades in high school, go to college, take post secondary courses, obtain a license or certificate leading to a career while in high school, have a plan for the future, take AP/Dual credit courses, take online classes, have grit, perseverance, do not work if it compromises grades, finish in top 10% of school, study for PSAT and SAT, save for college, associate with people who have ambitious goals, work hard, participate in activities that demand leadership and problem solving.

    2. To achieve social mobility, a person needs to work. Federal law, administered through the Equal Employment Opportunity Commission http://www.eeoc.gov/laws/statutes/index.cfm  prohibits employers from discriminating based on age, sex, religion, race, pregnancy, national origin and disability. This is the law.  Ethics concerns an individual's moral judgment about right and wrong and business ethics are often guided by law, while other times provide a basic framework that businesses may choose to follow in order to gain public acceptance.
    Identify five things a business could do to enhance social mobility and further identify if the action would be a legal and/or ethical activity.

    1.-5

    Possible student responses – companies locate to neighborhoods with underserved people, provide scholarships, provide employment with college tuition benefits, possibly offer child care for employees’ children, offer internships, pay bonuses based on productivity, offer free training and leadership courses.

    Depending on how long you have to complete this lesson, you may vary the time the students have to present their findings. Tell students that you will begin with one team, who presents an idea.  Then go to the next team.  They may only present a new idea. Emphasize that communication is of high demand in the real world. Presenting Team findings will allow students to step out of their comfort zone while improving a life skill that employers seek to find. Do not rank teams today, but explain how it will be done in the future.

    Elaborate - Reflect
    Compare these proactive actions with your Do First exercise.  Does your projection of the future assume social mobility, up or down?  What actions are you taking now to assure you achieve your goals?



    Look for thoughtful answers and be patient.  Learning to think takes time.

    Evaluate - Your Actions Today
    How would you evaluate your participation today? What actions would you like to improve?











    Closure
    There are many ways to expand this activity. Have the students complete the “About Me” form either in class or for homework, and turn in the following class.
    Alternative: Have the students reflect on the question, and come to the following class prepared to speak about their thoughts:

    •	What do you wish the school system really taught students about?


















    Lesson 1 Visuals



    Reflection 1-1
    Every employer or group of people has a culture. A culture dictates the way a person is expected to act to fit in.

    Culture can impact what you wear, how you speak, your beliefs, notions of time and communication.  Culture can also make it difficult to fit in.

    Reflect within a class discussion about the following questions:


    •	What culture do you observe at your school?










    •	What cultural traits do you and your friends practice that make it hard for others to fit in?












    Activity 1-1
    Do Now exercises are intended for you to get your mind off of all of the distractions that life throws your way, and to get you focused and ready for class. Every day you will be presented with a Do Now activity at the beginning of class in order to get you concentrated on that day’s topic.
    That being said, we like to have some fun with it. On the chart below, please list your TOP 5 (school appropriate) songs to play while you complete your Do Now Activity every day. We will accumulate a list and pick each day’s song, at random.
    Please list Title/Artist:

    1.	___________________________________________


    2.	___________________________________________


    3.	___________________________________________


    4.	___________________________________________


    5.	___________________________________________






    About Me!

    Name:
    _________________________________________________________
    Birthday:
    _________________________________________________________
    Favorite Candy:
    _________________________________________________________
    Favorite Restaurant:
    _________________________________________________________
    Favorite Song:
    _________________________________________________________
    Favorite Movie:
    _________________________________________________________
    Favorite Color:
    _________________________________________________________
    Favorite Food:
    _________________________________________________________
    Favorite Sport:
    _________________________________________________________
    Hobbies:
    _________________________________________________________
    Dream College:
    _________________________________________________________
    Dream Career:
    _________________________________________________________
    Chapter 1 Short Answer Quiz:
    *Please answer in 150 characters or less

    •	How have you personally been affected by your culture?







    •	If you could retake your interview that you did in front of the class, what would you say differently?



</div>


