<div class="page">

    <!-- Tab -->
    <section class="panel panel-default">
        
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> <span class="fma-lesson-title">1.1 Back to the Future</span></div>
        <div class="panel-body" data-ng-controller="TabsDemoCtrl">
            <div ng-init="login = 'teacher'">
            <div class="row">
                <div class="col-sm-12">
                        <h3>Lesson Description</h3>
                        Today, the students will be getting accustomed to the class. 
                        Each student will get to write about their goals and practice working in teams.
                        <h3>Introduction</h3>
                        If you have seen the film classic Back to the Future, you may remember that October 21, 2015 was the future 
                        destination date.  In 2015, the film showed skateboards that hovered over the ground. 
                        A Delorean was used as a time machine.  Neither of these were achieved in the future.
                        <p/>
                        In order to go back to the future, a person must have gone to the future and returned to the present 
                        and is now prepared to go back to the future.  Teens make this trip daily.  
                        They think about their future – the car they want, being married to their current love interest, 
                        playing on a pro-athletic team – and are pulled back to current reality. These trips to the future are dreams.
                        <p/>
                        When students don’t know what they can possibly achieve, rarely will they achieve it. 
                        All students have barriers to achieving success. 
                        The greatest barrier is from defining their future based on a limited knowledge of today. 
                        This course provides all students with an opportunity to step into a successful future, 
                        return to the present and then chart a path from now to achieve that future. 
                        You are their guide. You are setting the stage for the next 9 months. 
                        <p/>
                        You need to assure the students this course is like no other one they have had. 
                        You expect them to step up their performance, approach this course as an adult and critically think about their future.

                        <h3>Do First</h3>
                        Students take the first RLFM trip into the future. 
                        As students enter the class, you play a video scribe Do First 1-1. 
                        The video is slightly more than 1 minute.  At the end it freezes on the assignment.  
                        <p/>
                        Once your students are in the classroom, and focused on answering the questions, 
                        tell them they have until the end of the music to complete this assignment.  
                        <div class="callout callout-info"> Begin the class music (3:48): https://youtu.be/APMRiliOfOo</div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Note:</h3>
                            </div>
                            <div class="panel-body">
                            Please take attendance while the students are engaged in the Do First & Vocabulary activity. 
                            Text in blue italics is from the student workbook. Text is red italics are students answers.
                            </div>
                        </div>
                </div>

            </div>

        </div>
    </section>
    <!-- end Tab -->

    <section class="panel panel-default">
        
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span> <h3>Vocabulary</h3></div>
        <div class="panel-body"  data-ng-controller="RatingDemoCtrl">

            <div class="row">
                <div class="col-md-6">
                    <section class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Outlier"></span></strong></div>
                        <div class="panel-body">
                            Outlier is a data point in a set of data that lies outside of a pattern. 
                            That data point may be an error or it is may be considered important and worth studying. 
                            People who achieve financial success when their original socio-economic status would be a barrier for success can be called outliers.
                            <div ng-init="x1 = 4">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x1"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </section> 
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Social Class"></span></strong></div>
                        <div class="panel-body">
                            Social Class divides the population based on annual household income. 
                            Although many believe the US is a classless society where everyone is created equal. 
                            Sociologist point out that while equal, our incomes are far from equal. 
                            Some sociologists use a three level class system – upper, middle, lower. Others divide these levels into 6 classes.
                            <div ng-init="x2 = 2">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x2"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <section class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Socio-Economic Mobility"></span></strong></div>
                        <div class="panel-body">
                            Socio-Economic Mobility is t￼￼￼￼he permanent ￼movement of Americans from one social class or economic level to another. 
                            This upward mobility reflects is often thought of as achieving the American Dream. 
                            Socio-economic mobility is not automatic and many sociologists believe upward mobility will be more difficult to attain in the future than in the past. 
                            To have upward mobility there is a need for excellent job, higher education, and people able to work hard with exceptional skills to solve problems.2 & 3
                            <div ng-init="x3 = 3">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x3"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </section> 
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="SWBAT"></span></strong></div>
                        <div class="panel-body">
                            SWBAT means students will be able to. 
                            The SWBATs in Real Life Financial Mathematics are linked to the course learning objects, which require you to understand not only what but also HOW and WHY. 
                            Expect to be asked these questions in essays and presentations.
                            <div ng-init="x4 = 6">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x4"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <section class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Wikipedia"></span></strong></div>
                        <div class="panel-body">
                            Real Life Financial Mathematics is a course that integrates personal finances, career discovery and post- secondary education planning with reality-based math.
                            is a free, online encyclopedia that anyone can edit. We use Wikipedia as a resource in Real Life
                            Financial Mathematics because it offers students a depth of information. You are to read the information so you can gain understanding. 
                            Remember Wikipedia is written by the public so take time to check foot note references for the sources of the information.4
                            <div ng-init="x5 = 5">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x5"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </section> 
                </div>
                <div class="col-md-6">
                </div>
            </div>

        </div>
    </section>

</div>


