<div class="page">

    <!-- Tab -->
    <section class="panel panel-default">

        <div class="panel-heading"><span class="fma-lesson-title"><span class="glyphicon glyphicon-th"></span> 1.1 Back to the Future</span></div>
        <div class="panel-body" data-ng-controller="TabsDemoCtrl">

            <div class="row">
                <div class="col-sm-12">
                        <h3>Introduction</h3>
                        You have dreams for your future.
                        As a teen, it is sometimes difficult to understand that your actions today are setting into motion the future you will have.
                        The challenge you face - it is difficult to know which actions will and will not alter your future.
                        <p/>
                        <strong>Real Life Financial Mathematics</strong> will expand your thoughts about the future,
                        by integrating financial education, career discovery and post- secondary education planning with
                        reality-based math and guide you as you consciously create a plan for your future.
                        <p/>
                        As you enter the classroom each day you begin with an exercise designed to help you focus on the lesson.

                        <h3>Do First</h3>
                        <div class="callout callout-info">
                            <h4>Time travel to 2027 and answer these questions.</h4>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2">What is your job?</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-2">How much do you earn?</label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="text" class="form-control">
                                                <span class="input-group-addon">.00</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-2">Are you married?</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-2">Do you have children?</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-2">Do you live in an apartment, home or with parents?</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-2">What is the highest education or degree you achieved?</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-sm-2">Do you like the life you are living?</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                </div>

            </div>

        </div>
    </section>
    <!-- end - Do First -->

    <section class="panel panel-default">

        <div class="panel-heading"><h3><span class="glyphicon glyphicon-th"></span> Vocabulary</h3></div>
        <div class="panel-body"  data-ng-controller="RatingDemoCtrl">

            <div class="row">
                <div class="col-md-6">
                    <section class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Outlier"></span></strong></div>
                        <div class="panel-body">
                            Outlier is a data point in a set of data that lies outside of a pattern.
                            That data point may be an error or it is may be considered important and worth studying.
                            People who achieve financial success when their original socio-economic status would be a barrier for success can be called outliers.
                            <div ng-init="x1 = 4">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x1"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Social Class"></span></strong></div>
                        <div class="panel-body">
                            Social Class divides the population based on annual household income.
                            Although many believe the US is a classless society where everyone is created equal.
                            Sociologist point out that while equal, our incomes are far from equal.
                            Some sociologists use a three level class system – upper, middle, lower. Others divide these levels into 6 classes.
                            <div ng-init="x2 = 2">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x2"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <section class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Socio-Economic Mobility"></span></strong></div>
                        <div class="panel-body">
                            Socio-Economic Mobility is t￼￼￼￼he permanent ￼movement of Americans from one social class or economic level to another.
                            This upward mobility reflects is often thought of as achieving the American Dream.
                            Socio-economic mobility is not automatic and many sociologists believe upward mobility will be more difficult to attain in the future than in the past.
                            To have upward mobility there is a need for excellent job, higher education, and people able to work hard with exceptional skills to solve problems.2 & 3
                            <div ng-init="x3 = 3">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x3"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="SWBAT"></span></strong></div>
                        <div class="panel-body">
                            SWBAT means students will be able to.
                            The SWBATs in Real Life Financial Mathematics are linked to the course learning objects, which require you to understand not only what but also HOW and WHY.
                            Expect to be asked these questions in essays and presentations.
                            <div ng-init="x4 = 6">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x4"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <section class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-translate="Wikipedia"></span></strong></div>
                        <div class="panel-body">
                            Real Life Financial Mathematics is a course that integrates personal finances, career discovery and post- secondary education planning with reality-based math.
                            is a free, online encyclopedia that anyone can edit. We use Wikipedia as a resource in Real Life
                            Financial Mathematics because it offers students a depth of information. You are to read the information so you can gain understanding.
                            Remember Wikipedia is written by the public so take time to check foot note references for the sources of the information.4
                            <div ng-init="x5 = 5">
                                <rating class="ui-rating size-h4 ui-rating-success"
                                        ng-model="x5"
                                        max="6"
                                        readonly="true"
                                        state-on="'glyphicon-star'"
                                        state-off="'glyphicon-star-empty'"></rating>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-6">
                </div>
            </div>

        </div>
    </section>
    <!-- End of Vocabulary -->

    <section class="panel panel-default">

        <div class="panel-heading"><h3><span class="glyphicon glyphicon-th"></span> Essentials - SWBAT</h3></div>
        <div class="panel-body"  data-ng-controller="RatingDemoCtrl">
            <strong>Real Life Financial Mathematics</strong> is a course that integrates personal finances, career discovery and post- secondary education planning with reality-based math.
            <p/>
            In this lesson you begin to work on employability skills. The Lesson SWBATS are skills and knowledge you will need as an employee.
            <div class="callout callout-info">
                <h4>1-1 SWBAT</h4>
                Demonstrate an understanding of appropriate communication with customers, employers, and coworkers through verbal, nonverbal, or digital means and
                Demonstrate an understanding of ethical and legal issues in business.
            </div>

            <p/>
            To help you with this objective, as you enter the class think of this course as a job and all of your fellow students as associates.
            You must speak and act as though you are at work. You must be courteous, talk one at a time, listen to another person’s opinion and try to solve problems.
            Your teacher is your boss and visitors to the class will often be consultants.
            When you meet consultants, you of course introduce yourself, have eye contact and shake hands.
            <p/>
            Are you mature enough to do this? Try it. You will find that it is exciting to step outside your teen constraints and function as an adult., at least for one hour a day!
        </div>
    </section>


    <section class="panel panel-default">

        <div class="panel-heading"><h3><span class="glyphicon glyphicon-th"></span> Explore the Lesson – Socio-Economic Mobility</h3></div>
        <div class="panel-body"  data-ng-controller="RatingDemoCtrl">
            Many people believe that
            <p/>
            1) America is the land of opportunity and that
            <p/>
            2) by working hard, with intelligence and skill, one can achieve the American Dream.
            <p/>
            Others believe the first statement, but disagree with the second. They have a deep understanding that to achieve goals it takes more than hard work, intelligence and skills.
            <p/>
            In your vocabulary reading, you were introduced to both social class and social mobility. Moving down a social class is easy. Lose a job, become disabled without insurance,
            get a divorce, make a major mistake in investing, have a spouse die without adequate life insurance or
            have a health event without medical coverage and you can rapidly slide down the ladder of success.
            <p/>
            How difficult is is to climb up the ladder? The 2012 Pew Economic Mobility Project study revealed that:
            <p/>
            <ul>
                <li>43 percent of children born into the bottom quintile remain in that bottom quintile as adults.</li>
                <li>40 percent of children raised in the top quintile remain there as adults.</li>
                <li>About 62 percent of Americans raised in the top 20 percent of incomes stay in the top 40 percent.</li>
            </ul>
            <p/>
            The Social mobility is definitely in a downward trend. These stats are collected from a nationwide U.S. population.
            In some neighborhoods, Baltimore, Detroit, Los Angeles less than 8 percent climb the ladder of success.
            <p/>
            Brookings Institution Fellow Richard Reeves explores inequality and opportunity in America with Legos,
            using them to explain the chances for economic success of Americans born at the bottom of the economic ladder.
            Reeves shows the chances that the poorest fifth of Americans have to rise to the top, based on
            their race, the marital status of their mothers, and their level of education.
            <p/>
            <iframe width="854" height="480" src="https://www.youtube.com/embed/t2XFh_tD2RA" frameborder="0" allowfullscreen></iframe>
            <p/>
            There are several causes or issues that impact mobility:
            <p/>
            <strong>Quality of education</strong> -  “At virtually every level, education in America tends to perpetuate rather than
            compensate for existing inequalities. The reasons are threefold. First, the K through 12 education
            system is simply not very strong and thus is not an effective way to break the link between parental
            background and a child’s eventual success. ... Second, because K–12 education is financed largely at
            the state and local level, resources devoted to education are closely linked with where people live and
            with the property wealth of their neighbors. For this and other reasons, poor children tend to go to
            poor schools and more advantaged children to good schools. ... Finally, access both to a quality
            preschool experience and to higher education continues to depend quite directly on family
            resources.”7
            <p/>
            <strong>Born into poverty</strong> - A study from the Economic Mobility Project found that growing up in a high-
            poverty neighborhood increases Americans’ risk of experiencing downward mobility and explains a
            sizable portion of the black-white downward mobility gap. The report’s analysis also showed that
            black children who experience a reduction in their neighborhood’s poverty rate have greater
            ￼economic success in adulthood than black children who experience poverty rates that increase or are
            stable.8
            6
            <p/>
            <strong>Gender and Race</strong> - Few people look at their future. Even fewer want to look at their future and think about why they will fail to increase their social mobility.
            What we would like you to focus on is how to achieve success.
            In other words, how to be an OUTLIER.
        </div>
    </section>
    <!-- End : Explore the lesson -->


    <section class="panel panel-default">

        <div class="panel-heading"><h3><span class="glyphicon glyphicon-th"></span> Expand – Team Collaboration</h3></div>
        <div class="panel-body"  data-ng-controller="RatingDemoCtrl">
            <div class="callout callout-info">
                In this lesson you will work on employability skills.
            </div>
            <p/>
            Pretend you are an associate of the Brookings￼Institution.
            The Brookings Institution is a Washington, D.C. think tank of 300 leading experts in government and academia from all over the world.
            Your team has been asked by your employer and ￼management (your instructor) to address two issues:
            <p/>
            <h3>1. Social mobility with an effort to preserve the American Dream.</h3>
            <div class="row">
                <div class="col-sm-4">
                     Using appropriate verbal and nonverbal communication with your employer and coworkers,
                        identify 5 actions high school students could take to increase their chance at being an outlier and achieve and retain economic success. Please
                        note, winning the lottery isn’t one of the five.
                </div>
                <div class="col-sm-8">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="" class="col-sm-1">a.</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-1">b.</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-1">c.</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-1">d.</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="" class="col-sm-1">e.</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <h3>2. Understanding appropriate communication.</h3>
            <div class="row">
                <div class="col-sm-4">
                    The first SWBAT addresses your need for understanding appropriate communication with customers, employers, and coworkers.
                    <p/>
                    Do you think people treat customers differently based on their social class? Give an example of what you have heard said to support your position?
                </div>
                <div class="col-sm-8">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <textarea name="" id="" class="form-control" rows="4" placeholder="Enter your answer here"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            ￼
            <h3>3. Your fellow students can be viewed as co-workers.</h3>
            <div class="row">
                <div class="col-sm-4">
                    Do students at your school communicate differently
                    ￼with individuals of a different social class?
                    Give an example of what you have heard or seen written in social media to support your position?
                </div>
                <div class="col-sm-8">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <textarea name="" id="" class="form-control" rows="4" placeholder="Enter your answer here"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <h3>4. To achieve social mobility, a person needs to work.</h3>
            <div class="row">
                <div class="col-sm-4">
                    Federal law, administered through the Equal
                    Employment Opportunity Commission http://www.eeoc.gov/laws/statutes/index.cfm prohibits
                    employers from discriminating based on age, sex, religion, race, pregnancy, national origin and disability.
                    <p/>
                    This is the law. Ethics concerns an individual's moral judgment about right and wrong and business ethics
                    are often guided by law, while other times provide a basic framework that businesses may choose to
                    follow in order to gain public acceptance.
                </div>
                <div class="col-sm-8">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <h4>Reviewing your responses for 2, 3 and 4</h4>
                            <form>
                                <label for="">a. Were the communications appropriate?</label>
                                <input type="text" class="form-control">
                                <br/>
                                <label for="">b. Were the communications legal?</label>
                                <input type="text" class="form-control">
                                <br/>
                                <label for="">c. Were the communications ethical?</label>
                                <input type="text" class="form-control">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <h3>5. Proactive actions</h3>
            <div class="row">
                <div class="col-sm-4">
                    Identify five things a business could do to enhance social mobility and further identify if the action￼would be a legal and/or ethical activity.
                </div>
                <div class="col-sm-8">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <label for="">a. </label>
                                <input type="text" class="form-control">
                                <br/>
                                <label for="">b. </label>
                                <input type="text" class="form-control">
                                <br/>
                                <label for="">c. </label>
                                <input type="text" class="form-control">
                                <br/>
                                <label for="">d. </label>
                                <input type="text" class="form-control">
                                <br/>
                                <label for="">e. </label>
                                <input type="text" class="form-control">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="panel panel-default">

        <div class="panel-heading"><h3><span class="glyphicon glyphicon-th"></span> Elaborate - Reflect</h3></div>
        <div class="panel-body"  data-ng-controller="RatingDemoCtrl">
            <div class="row">
                <div class="col-sm-4">
                    <h4>Compare these proactive actions with your Do First exercise.</h4>
                    Does your projection of the future assume social mobility, up or down? What actions are you taking now to assure you achieve your goals?
                </div>
                <div class="col-sm-8">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <textarea name="" id="" class="form-control" rows="4" placeholder="Enter your answer here"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="panel panel-default">

        <div class="panel-heading"><h3><span class="glyphicon glyphicon-th"></span> Evaluate - Your Actions Today</h3></div>
        <div class="panel-body"  data-ng-controller="RatingDemoCtrl">
            <div class="row">
                <div class="col-sm-4">
                    <h4>How would you evaluate your participation today?</h4> What actions would you like to improve?
                </div>
                <div class="col-sm-8">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <textarea name="" id="" class="form-control" rows="4" placeholder="Enter your answer here"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>


